*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.contain{
    margin: 35px 110px;
}
/* Nav Bar */
.nav-bar{
    background-color: #121618;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    float: left;
    color: white;
    font-weight: 500;
    font-size: larger;
}
/* .logo span{
    display: block;
    width: 100%;
} */
.logo span:last-child{
    color:#FAAC3B;
}
.menu-items{
    float: right;
    font-size: 17px
    /* margin-top: 20px;
    margin-right: 110px; */
}
.menu-items ul{
    list-style-type: none;
}
.menu-items ul li{
    display: inline-block;
    margin-left: 35px
    /* margin: 15px; */
}
.menu-items ul li a{
    text-decoration: none;
    color: lightgray;
}
.menu-items ul li a:hover{
    color: #FAAC3B;
}


.slider{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) ,url("./images/bg_1.jpg");
}

/* Slider */
.slide3,.slide2,.slide1{
    /* linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) */
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) ,url("images/bg_3.jpg") ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px;
    margin-top: -6px;
    
}
.slide2,.slide1{
    overflow: hidden;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) ,url("./images/bg_1.jpg");
}
.slide-text{
    width: 40%;
    color: white;
    position: relative;
    top:20%;
    left: 30%;
    text-align: center;
}
.slide-text h2{
    font-size: 35px;
    text-transform: uppercase;
}
.slide-text p{
    font-size: 20px;
    padding-top: 20px;
}
.slide2-text p:first-child{
    margin-left: -20px;
}
.slide-text p:first-child{
    color: #FAAC3B;
    font-size: 30px;
    padding: 20px;
}
.slide-image{
    width: 50%;
}
.slide-image img{
    width: 500px;
    height: 500px;
    float: left;
    margin-left: 60px;
}
.slide2-text{
    float: left;
    width: 40%;
    text-align: left;
    position: relative;
    left: 600px;
    top: 160px;
}
.buttons{
    padding: 50px;
}
.slide2 .slide-image img{
    position: relative;
    top: -260px;
}
.slide1 .slide-image img{
    float: right;
    position: relative;
    left: 507px;
    top: 68px;
}
.slide1 .slide2-text{
    float: left;
    position: relative;
    left: 171px;
    top: -345px;
}
.buttons a, .reserveBtn a{
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100px;
    height: 25px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
}
.buttons a:first-child{
    color: #000;
    background-color: #FAAC3B;
    border: 2px solid #FAAC3B;
}
.buttons a:last-child:hover{
    color: #000;
    background-color: #FAAC3B;
    border: 2px solid #FAAC3B;
}
.buttons a:first-child:hover{
    color: #FAAC3B;
    border: 2px solid #FAAC3B;
    background: none;
}
.slide2-btn{
    position: relative;
    left: -50px;
}

/* Section part */
.section-bar{
    overflow: hidden;
}
.section-bar .part1{
    width: 65%;
    float: left;
    height: 130px;
    background-color: #000;
}
.section-bar .part2{
    width: 35%;
    float: right;
    height: 130px;
    background-color: #FAAC3B;
}
.part1 .tel, .address, .open-times{
    color: lightgray;
    float: right;
    width: 30%;
    margin: 40px 0 0 -10px;
}
.reserveBtn{
    text-align: center;
}
.reserveBtn a{
    width: 50%;
    color: black;
    margin-top: 40px;
    box-shadow: 3px 3px 5px gray;
}

/* About part */
#aboutUs{
    width: 100%;
}
.aboutImg, .aboutTxt{
    width: 50%;
    height: 450px;
    float: left;
}
.aboutTxt{
    background-image: url('./images/bg_4.jpg');
    color: #fff;
}
.aboutTxt h2{
    margin: 80px 0 20px 70px;
    width: 50%;
    text-transform: uppercase;
}
.aboutTxt h2 span{
    color: #FAAC3B;
}
.aboutTxt p{
    margin-left: 70px;
    line-height: 1.6;
    color:lightgray;
    padding-right: 86px;
    text-align: justify;
}
.aboutImg img{
    width: 100%;
    height: 100%;
}

/* Services */ 
#services{
    background-image: url('./images/food.png');
    width: 100%;
    height: 1100px;
    text-align: center;
}
.serviceTxt{
    width: 100%;
    padding-top: 570px;
}
.serviceTxt h2{
    font-weight: lighter;
    width: 100%;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.serviceTxt p{
    width: 40%;
    margin-bottom: 40px;
    margin-left: 435px;
    line-height: 1.7;
    color:#222;
}
.serviceIcons{
    width: 80%;
    overflow: hidden;
    margin: 75px 145px;
    /* margin: 75px 220px; */
}
.serviceIcons .food, .delivery, .recipe{
    width: 25%;
    float: left;
    margin: 0 40px;
}
.serviceIcons i{
    font-size: 65px;
    padding: 15px;
    color:#222;
    border: 2px solid#FAAC3B;
    margin-bottom: 40px;
    transition: .5s all;
}
.serviceIcons i:hover{
    font-size: 65px;
    background-color: #FAAC3B;
    color: white;
    margin-top: 20px;
    transform: rotate(-405deg);
}
.serviceIcons h3{
    text-transform: uppercase;
    font-weight: lighter;
}
.serviceIcons p{
    margin-top: 25px;
    line-height: 1.7;
    color:#222;
}

/* Menu */
#menu{
    width: 100%;
    height: 700px;
}
#menu .sidePic{
    float: left;
    width: 30%;
    height: inherit;
    background-image: url("./images/about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainMenu{
    width: 100%;
    height: inherit;
    background-image: url("./images/bg_4.jpg");
}
.mainMenu .button, .changeStyle{
    color: #FAAC3B;
    width: 100px;
    padding: 15px;
    text-align: center;
    border: 2px solid #FAAC3B;
    background-color: transparent;
    font-size: 19px;
    margin-top: 50px;
    margin-left: 10px;
}
.mainMenu button:first-child{
    margin-left: 50px;
}
.mainMenu button:hover{
    color: #000;
    background-color: #FAAC3B;
    cursor: pointer;
}
.changeStyle{
    color: #000;
    background-color: #FAAC3B;
}
.mainMenu .divideMenu img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 40px;
}
.mainMenu .divideMenu{
    width: 20%;
    float: left;
    margin: 60px 10px 0 20px;
    text-align: center;
}
.mainMenu .divideMenu:first-child{
    margin-left: 60px;
}
.divideMenu h3{
    color: #fff;
    margin-bottom: 25px;
}
.divideMenu p{
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 25px;
}
.divideMenu span{
    color: #FAAC3B;
}

/* Contact */
#contact{
    background-color: #121618;
    color: white;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
#contact .aboutC, .servicesC, .quesC, .contactC{
    float: left;
    width: 20%;
    margin-right: 30px;
    margin-top: 100px;
}
#contact .aboutC{
    margin-left: 110px;
}
#contact h3{
    margin-bottom: 50px;
    font-weight: lighter;
    text-transform: uppercase;
}
#contact p{
    font-weight: lighter;
    line-height: 1.8;
}
#contact .quesC span{
    margin-right: 5px;
}


#contact .servicesC span{
    display: block;
}
.quesC span{
    display: inline-block;
    
}
#contact .contactC i{
    display: block;
    background-color: #1C1F21;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}



.dis{
    display: none;
}
.dis2{
    display: block;
}

/* Animation */
.slide1,.slide2,.slide3{
    animation: myAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
@keyframes myAnimation {
    0% {
        transform: scale(.97);
    }
    100% {
        transform: scale(1);
    }
}

/* .clear
{
    margin: 0;
    clear: both;
} */